@import"../utilidades/variables";
// estilos de header

header {
    display: flex;
    justify-content: $contenido;
    align-items: $contenido;
    padding: 20px;
    nav {
        ul {
            justify-content: $contenido;
            align-items: $contenido;
            padding: 20px;
            li{
                    list-style: $nada;
            }
                a{
                    text-decoration: $nada;
                    color: $color-texto;
                }
        }
    }
}

.cabeza{
    @include imagen-dimensionada(70px, 70px);
}

