@import "../utilidades/variables";
@import "../utilidades/mixin";

// estilos de header

header {
    display: flex;
    justify-content: $contenido;
    align-items: $contenido;
    padding: 20px;
    nav {
        ul {
            justify-content: $contenido;
            align-items: $contenido;
            padding: 20px;
            li{
                    list-style: $nada;
            }
                a{
                    text-decoration: $nada;
                    color: $color-texto;
                }
        }
    }
}

.cabeza{
    @include imagen-dimensionada(70px, 70px);
}

//main

main{
    color:$color-texto;
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    
    h1{
        @include margen-vertical;
    }
    p a b {
            text-decoration: $nada;
            color: $color-link;
        }
}

ul{
    list-style-type: $nada;
}

// Footer

footer { 
    ul
        {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            margin-top: 30px;
        }

        p
        {
            display: flex;
            justify-content: center;
            color:$color-texto;
            margin-top: 10px;
            text-align: center;
        }
}


.rs{
    @include imagen-dimensionada(70px, 70px);
}

.html-css{
    justify-content: $contenido;
    align-items: $contenido;
    width: 70px;
    height: 70px;
    margin: 10px;
}

.coder-logo{
    justify-content: $contenido;
    align-items: $contenido;
    width: 150px;
}    

@media screen and (min-width: 768px){

    

    header nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }   
}